<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
    <title>2048</title>
    <link href="" rel="stylesheet" type="text/css" id="cssLink">
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if(clientWidth>=640){
                            docEl.style.fontSize = '100px';
                        }else{
                            docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                        }
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script>
        var system ={
            win : false,
            mac : false,
            xll : false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        var Link=document.getElementById('cssLink');
        //跳转语句
        if(system.win||system.mac||system.xll){ //转向电脑端
            // Link.href='style_pc.css'
            Link.href="{{url_for('static', filename='style_pc.css')}}"
        }else{
            // Link.href='style-mobile.css';
            Link.href='static/style-mobile.css';
        }
    </script>
    <script src="../static/jquery1.9.1.js"></script>
    <script src="../static/midware.js"></script>
    <script src="../static/animation.js"></script>
    <script src="../static/main.js"></script>
</head>
<body>
   <div class="container" id="container">
       <header>
       <div class="title">
       <h1>2048</h1>
       <p>Score:<span class="score" id="score">0</span></p>
       </div>
       <div class="btns">
           <a href="javascript:reStart()">New Game</a>
           <a href="javascript:init(3,3)">3x3</a>
           <a href="javascript:init(4,4)">4x4</a>
           <a href="javascript:init(5,5)">5x5</a>
           <a href="javascript:init(6,6)">6x6</a>
           <a href="javascript:showForm()">自定义</a>
           <a href="javascript:collectTrainingData(this)" id="collectBtn">收集数据</a>
           <a href="javascript:training()">训练AI</a>
           <a href="javascript:AI()" id="aiBtn">人工模式</a>
       </div>
       </header>
       <section class="grid">
       </section>
   </div>
   <div id="personal">
       <h1>自定义大小</h1>
       <label for="perRow">行：</label><input type="text" id="perRow" placeholder="最好大于3">
       <label for="perCol">列：</label><input type="text" id="perCol" placeholder="最好大于3">
       <button type="submit" onclick="getPerData()">确定</button>
   </div>
   <div id="hideFormPar">
       <form id="hideForm" method="post">
           <input type="text">
       </form>
   </div>
   <div id="gameover">
       <h1>啊哦，游戏结束！</h1>
       <a href="javascript:reStart()">再来一次</a>
   </div>
</body>
</html>