*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
a{
    text-decoration: none;
}
body{
    background-color: #faf8ef;
    overflow: hidden;
}
.container{
    margin: 1rem auto;
}
header{
    width: 6rem;
    height: 2rem;
    text-align: center;
    margin: 0.05rem auto;
}
header h1{
    color: #776e65;
    font-size: 0.6rem;
}
header p{
    margin-bottom: 0.2rem;
    color: #ccc4da;
    font-size:0.24rem;
}
header div.title{
    float: left;
    width:2rem;
}
header div.btns{
    float: left;
    width: 4rem;
}
header div.btns a{
    float: left;
    font-size: 0.16rem;
    color: #fff;
    display: block;
    width: 1rem;
    margin: 0.05rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    background-color: #ede0c8;
}
.grid{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background-color: #bbada0;
}
.grid-cell{
    border-radius: 0.1rem;
    width: 1rem;
    position: absolute;
    height: 1rem;
    background-color: #cdc1b4;
}
.grid .number-cell{
    transform: translate3d(0,0,0);
    border-radius: 0.1rem;
    position: absolute;
    font-size: 0.48rem;
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    transition: width 0.1s linear,height 0.1s linear,transform 0.15s linear;
}
div#gameover{
    width: 3rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #8f7a66;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    display: none;
}
#gameover h1{
    font-size: 0.32rem;
    text-align: center;
    color: #fff;
    margin: 0.3rem 0;
}
#gameover a{
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 0.28rem;
    text-align: center;
}
#personal {
    width: 3rem;
    height: 3rem;
    border-radius: 0.2rem;
    background-color: #8f7a66;
    position: fixed;
    top: 1rem;
    left: 50%;
    margin-left: -1.5rem;
    display: none;
}
#personal h1{
    font-size: 0.32rem;
    text-align: center;
    color: #fff;
    margin: 0.2rem 0;
}
#personal label{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    color: #fff;
    font-size: 0.2rem;
    font-family: sans-serif;
    display: block;
    float: left;
}
#personal input{
    margin-top: 0.2rem;
    width: 1.5rem;
    height: 0.3rem;
    display: block;
    float: left;
}
#personal button{
    text-align: center;
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 1.1rem;
    margin-top: 0.2rem;
    width: 0.8rem;
    height: 0.4rem;
    background-color: #fff;
    outline: none;
    border: 0.05rem solid #fff;
    border-radius: 35%;
    color: #8f7a66;
}
